---
import type { Metadata } from '@utils/Interfaces'
import Favicons from '@components/Favicons.astro'

interface Props {
  metadata: Metadata
}

const { metadata } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="follow, index" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Primary Meta Tags -->
  <title>{metadata.title}</title>
  <meta name="title" content={metadata.title} />
  <meta name="description" content={metadata.description} />
  <link rel="canonical" href={canonicalURL} />

  <!-- Global Metadata -->
  <meta name="google" content="notranslate" />

  <Favicons />

  <link rel="manifest" href="/manifest.json" />
  <meta name="msapplication-TileColor" content={metadata.tileColor} />
  <meta name="theme-color" content={metadata.themeColor} />

  <!-- Open Graph / Facebook -->
  <meta property="og:locale" content={metadata.openGraph.locale} />
  <meta property="og:type" content={metadata.openGraph.type} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={metadata.title} />
  <meta property="og:description" content={metadata.description} />
  <meta property="og:image" content={metadata.openGraph.image} />

  <!-- Twitter -->
  <meta name="twitter:card" content={metadata.twitter.cardType} />
  <meta name="twitter:title" content={metadata.title} />
  <meta name="twitter:description" content={metadata.description} />
  <meta name="twitter:image" content={metadata.twitter.image} />
  <meta name="twitter:image:alt" content={metadata.title} />
  <meta name="twitter:site" content={metadata.twitter.site} />
  <meta name="twitter:creator" content={metadata.twitter.site} />
</head>
